:root {
  --main-color: #626262;
  --link-color: #626262;
  --change-link-color: #42bff6;
  font-size: 14px;
  line-height: 1.6;
  --main-font: "Playfair Display", serif;
  --second-font: "Ubuntu", sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.header {
  padding-top: 50px;
  padding-bottom: 100px;
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.item {
  list-style: none;
}

.link {
  display: block;
  font-size: 14px;
  line-height: 1.6;
  padding-left: 60px;
  padding-right: 60px;
  text-decoration: none;
  color: #626262;
  font-family: var(--main-font);
}

.link:hover,
.link:focus {
  color: #42bff6;
}

/*main*/

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 60px;
}

.menu-item {
  width: calc(50% - 30px);
  list-style: none;
  margin-right: 60px;
  margin-bottom: 140px;
}

.menu-item:nth-child(2n) {
  margin-right: 0px;
}

.menu-item:nth-child(2n) {
  margin-bottom: 0px;
}

img {
  margin-bottom: 30px;
}

.text {
  font-family: var(--second-font);
  font-size: 14px;
  line-height: 1.6;
  color: #c7c1b6;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.title {
  font-size: 30px;
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--main-color);
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.inform {
  font-size: 14px;
  line-height: 1.6;
  font-family: var(--main-font);
  color: var(--main-color);
  margin: 0;
}

.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border: solid #626262;
  width: 160px;
  height: 60px;
  font-size: 20px;
  line-height: 1.6;
  font-family: var(--main-font);
  background-color: #fff;
  color: var(--main-color);
}

.button:hover,
.button:focus {
  color: #42bff6;
}
